PriMAT-tracking/models
PriMAT-tracking/videos
PriMAT-tracking/exp
PriMAT-tracking/DCNv2
PriMAT-tracking/docker
PriMAT-tracking/slurm_files
gazelle/output_images
gazelle/models
workshop/
gazelle/experiments
gazelle.egg-info
PriMAT-tracking/TrackEval
__pycache__/
*.ipynb_checkpoints
*.code-workspace
=*
*.png

*.trunk
*.DS_Store
